# Node.js dependencies
node_modules/

# Media files
Media/

google-services.json
serviceaccount.json
# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Temporary files
.DS_Store

# Compiled files
dist/
build/

# Ignore specific test or temp files (optional)
TEST.js

